extends ./base.pug
block head
  title Polls Made Easy - Vote
  block headExtras

mixin buttonBar(otherActionURL, otherActionText, otherActionClass)
  - var baseURL = '/polls/' + poll._id
  - var otherURL = baseURL + otherActionURL
  - var deleteURL = baseURL + '/delete'
  - var otherClasses = 'btn ' + otherActionClass
  form(action=deleteURL, method='post')
    div(class='btn-group btn-group-lg', role='group', aria-label='Poll navigation')
      a(href=otherURL, class=otherClasses, role='button')
        | #{otherActionText}
      if showDelete
        input(type='hidden', name='_csrfe', value=csrfToken)
        button(type='submit', class='btn btn-default btn-submit btn-danger')
          | Delete

block body
  include ./navbar.pug
  div(class='jumbotron bg-primary text-xs-center')
    h1 #{poll.title}
    p By #{author.displayName}

    block jumbotronExtras
  block bodyExtras
